.page-body{
    font-family: sans-serif;
    
   justify-content: center;
    font-style: normal;
    width: 1280px;
    margin: 0 auto;
}

.logo{
    
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 80px;
    line-height: 93.75px;
    padding: 0;
}

.black-letter{
color: #000000;
}
.blue-letter{
    
color: #4BCAFF;
}

 .nav-container {
    background-color: #35444F;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   
    
} 


.nav-menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style-type: none;
    margin-bottom: 50px;
    padding: 0;
 
}

.nav-item:first-child{
   
    border-left:1px solid #FFFFFF ;
    
}

.header-link{
   text-align: center;
   display: block;
   font-size: 24px;
   font-weight: 400;
   line-height: 28px;
   color: #FFFFFF;
   padding: 24px 37px 18px;
   border-right: 1px solid #FFFFFF;

}
.
.header-link:hover{
    background-color:#222F3A ;
}
.nav-item-blank{
    
    background-color: #35444F;
    border: 1px solid #FFFFFF;
    width: 132px;
    height: auto;

}


.main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    margin-top: 50px;
    
    
    
    
    

} 

.nav-main-box {

  
 border: 1px solid  #000000; 
 background-color:  #FFFFFF;
 margin-right: 52px;

}

.nav-main-list {
     
    list-style-type: none;
    width: 345px;
    
    padding: 0;
    margin: 0;
     
}

.nav-main-link{
   
   display: block;
  font-size: 27px;
   font-weight: 400;
   line-height: 27px;
   color: #495863;
   padding-top: 25px;
   padding-bottom: 30px;
   padding-left: 40px;

   

}

.nav-main-link:hover{
    background-color: #DBDBDB;
}


    
   


.img-container{
    display: flex;
    padding: 75px 0;
    
    
    justify-content: center;
    align-items: center;
    
    
    
    border: 1px solid #000000;
    background-color: #FFFFFF;
    
}

.img-container :hover{
    transform: scale(1.2);
    
}

.img-ramda{
    
    
    
    transition: 1s;
}






.text-box{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    margin-bottom: 54px;
    
    
}
.footer-box{
    display: flex;
    justify-content: center;
    
     margin-top: 40px;
    margin-bottom: 30px; 
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    
}

.footer-list{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;

}

.footer-item{
    background-color: rgba(99, 105, 110, 0.48)

}

.footer-link{
    display: flex;
   font-size: 28px;
   font-weight: 400;
   line-height: 28px;
   color: #0C1927;
   padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 28px;
   height: auto;


}

.footer-link:hover{
    text-decoration: underline;
    text-underline-offset: 13px;
    color: #3181A6;

}
.footer-note{
    text-align: center;
    padding-top: 25px;
    padding-right: 40px;
    padding-left: 135px;
    color: #010101;
    font-size: 24px;
   font-weight: 400;
   line-height: 24px;
   background-color: rgba(99, 105, 110, 0.48)
   
}



